<h1>Modifier la description</h1>

<%= form_for @link do |l| %>

<div class="form-group">
  <label>title</label>
  <%= l.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <label>description</label>
  <%= l.text_area :description, class: 'form-control' %>

</div>

<div class="form-group">
  <label>name</label>
  <%= l.text_field :name, class: 'form-control' %>

</div>



<div class="form-group">

  <button type="submit" class="btn btn-success" >Modifier</button>

</div>

<% end %>
